---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url("https://stock.adobe.com/cz/images/close-up-of-nature-view-green-leaf-on-blurred-greenery-background-under-sunlight-with-bokeh-and-copy-space-using-as-background-natural-plants-landscape-ecology-wallpaper-or-cover-concept/291533500");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
